#chat{
    display: flex;
    align-items: center;

    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 99999;
}





/* Message */
#chat_message{
    color: var(--black);
    font-size: var(--font-size1);
    background-color: #fff;
    border-radius: calc(1.8vh + .6vw);

    margin-right: calc(1vh + .5vw);
    padding: calc(1vh + .5vw) calc(1.2vh + .5vw);
}





/* Icon */
#chat_icon{
    position: relative;
}

/* Chat and pencil*/
#chat_icon_chat,
#chat_icon_pencil{
    width: calc(2vh + .8vw);
    height: calc(2vh + .8vw);

    border-radius: 50%;
    cursor: pointer;

    padding: calc(1.8vh + .5vw);
    position: relative;
    z-index: 999999;
}

/* Chat */
#chat_icon_chat{
    display: flex;

    background: -webkit-linear-gradient(135deg, rgb(178, 44, 212), rgb(240, 57, 122));
    background: linear-gradient(135deg, rgb(178, 44, 212), rgb(240, 57, 122));

    overflow: hidden;
}
/* img */
#chat_icon_chat img{
    position: relative;
    left: 0;
    transition: left .2s;
}#chat_icon_chat img:nth-child(2){
    left: 200%;
}

/* Pencil */
#chat_icon_pencil{
    display: flex;

    background-color: #fff;

    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: transform .2s ease-in-out;

    overflow: hidden;
}
/* img */
#chat_icon_pencil img{
    position: relative;
    left: 0;
    transition: left .2s;
}
#chat_icon_pencil img:nth-child(2){
    left: 200%;
}

/* Chat_icon:hover */
#chat_icon:hover #chat_icon_pencil{
    transform: scale(1.2);
}





/* Chat | talk */
#chat_chat{
    width: calc(30vh + 15vw);

    display: none;
    grid-template-areas: 
        "infoLeft infoRight"   
        "infoBottom infoBottom" 
        "form form"
        "finalContent finalContent"
    ;

    background: -webkit-linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    background: linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    border-radius: var(--border-radius1);
    opacity: 0;
    
    padding-top: calc(2vh + 1vw);
    position: absolute;
    left: -45%;
    bottom: -40%;
    transition: left .2s, opacity .3s;
    overflow: hidden;
}



/* Info */
/* Left */
#chat_chat_infoLeft{
    grid-area: infoLeft;

    color: #fff;
    box-sizing: border-box;

    margin-right: calc(2.5vh + 1vw);
    padding-left: calc(4vh + 1.5vw);
}
/* H1 */
#chat_chat_infoLeft h1{
    font-size: calc(4vh + 1.5vw);
    font-weight: 500;

    margin-bottom: calc(1vh + .5vw);
}
/* p */
#chat_chat_infoLeft p{
    font-size: var(--font-size1);
}


/* Right */
#chat_chat_infoRight{
    grid-area: infoRight;

    padding-right: calc(1.5vh + .5vw);
}

/* Icons */
#chat_chat_infoRight_icons{
    display: flex;
    align-items: center;

    margin-bottom: calc(1.8vh + .8vw);
}
/* I */
#chat_chat_infoRight_icons i{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    position: relative;
}#chat_chat_infoRight_icons i::after{
    content: "";

    width: calc(1.5vh + .6vw);
    height: calc(1.5vh + .6vw);

    background-color: rgba(49, 0, 62, .3);
    border-radius: 50%;

    padding: calc(1vh + .4vw);
    position: absolute;
    transform: scale(0);
    transition: transform .2s;
}
/* img */
#chat_chat_infoRight_icons i img{
    width: calc(1.5vh + .6vw);

    border-radius: 50%;

    margin: calc(1vh + .4vw);
    position: relative;
    z-index: 9;
}
#chat_chat_infoRight_icons i:hover::after{
    transform: scale(1);
}

/* img */
#chat_chat_infoRight_bot{
    width: calc(4vh + 1.5vw);
    height: calc(4vh + 1.5vw);

    background-color: #fff;
    border-radius: 50%;

    padding: calc(1.5vh + .5vw);
}
#chat_chat_infoRight_bot img{
    width: 100%;
}


/* Bottom */
#chat_chat_infoBottom{
    grid-area: infoBottom;

    color: #fff;
    font-size: var(--font-size1);
    background: -webkit-linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    background: linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));

    margin-top: calc(2.5vh + 1vw);
    padding: calc(1vh + .5vw) calc(2.5vh + 1vw);
}



/* Form */
#chat_chat_form{
    grid-area: form;

    background-color: #fff;

    padding: calc(2vh + .8vw) calc(2.5vh + 1vw);
}

/* Input */
#chat_chat_form input{
    width: 100%;

    font-size: var(--font-size2);
}#chat_chat_form input::placeholder{
    font-weight: 100;
}



/* Final content */
#chat_chat_finalContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: finalContent;

    background-color: #fff;

    padding: 0 calc(2.5vh + 1vw);
    padding-bottom: calc(1vh + .5vw);
}

/* Img */
#chat_chat_finalContent img{
    width: calc(7vh + 3vw);
}
