#chat{
    display: flex;
    align-items: center;

    position: fixed;
    right: 2%;
    bottom: 8%;
    z-index: 99999;
}





/* Message */
#chat_message{
    color: var(--black);
    font-size: var(--font-size1);
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 calc(.4vh + .2vw) calc(2.5vh + 1vw) 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    opacity: 0;

    margin-right: .8rem;
    padding: .4rem 1rem;
    transition: opacity .4s;
}





/* Icon */
#chat_icon{
    opacity: 0;

    position: relative;
    left: 5%;
    transition: left .4s, opacity .4s;
}

/* Chat and pencil*/
#chat_icon_chat,
#chat_icon_pencil{
    width: 1.25rem;
    height: 1.25rem;

    border-radius: 50%;
    box-shadow: 0 calc(.4vh + .2vw) calc(2.5vh + 1vw) 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    opacity: 1;

    padding: 1.1rem;
    position: relative;
    z-index: 999999;
}

/* Chat */
#chat_icon_chat{
    display: flex;

    background: -webkit-linear-gradient(135deg, rgb(178, 44, 212), rgb(240, 57, 122));
    background: linear-gradient(135deg, rgb(178, 44, 212), rgb(240, 57, 122));

    overflow: hidden;
    transition: transform .2s ease-in-out;
}
/* img */
#chat_icon_chat img{
    position: relative;
    left: 0;
    transition: left .2s;
}#chat_icon_chat img:nth-child(2){
    left: 200%;
}

/* Pencil */
#chat_icon_pencil{
    display: flex;

    background-color: #fff;

    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: transform .2s ease-in-out;

    overflow: hidden;
}
/* img */
#chat_icon_pencil img{
    position: relative;
    left: 0;
    transition: left .2s;
}
#chat_icon_pencil img:nth-child(2){
    left: 200%;
}

/* Chat_icon:hover */
#chat_icon:hover #chat_icon_chat{
    transform: scale(1.1);
}
#chat_icon:hover #chat_icon_pencil{
    transform: scale(1.2);
}





/* Chat | talk */
#chat_chat{
    width: 22rem;

    display: none;
    flex-direction: column;

    background: -webkit-linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    background: linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    border-radius: var(--border-radius1);
    box-shadow: 0 calc(.4vh + .2vw) calc(2.5vh + 1vw) 0 rgba(0, 0, 0, .3);
    opacity: 0;
    
    position: absolute;
    left: -45%;
    bottom: -40%;
    transition: left .2s, opacity .3s;
    overflow: hidden;
}



/* Info */
#chat_chat_info{
    display: flex;

    padding: 2rem 1rem;
}
/* Left */
#chat_chat_infoLeft{
    grid-area: infoLeft;

    color: #fff;
    box-sizing: border-box;

    padding: 0 1.5rem;
}
/* H1 */
#chat_chat_infoLeft h1{
    font-size: var(--font-size6);
    font-weight: 500;

    margin-bottom: .5rem;
}
/* p */
#chat_chat_infoLeft p{
    font-size: var(--font-size1);
    line-height: 1.25rem;
}


/* Right */
#chat_chat_infoRight{
    grid-area: infoRight;
}

/* Icons */
#chat_chat_infoRight_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1rem;
    margin-right: .2rem;
}
/* I */
#chat_chat_infoRight_icons i{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    position: relative;
}#chat_chat_infoRight_icons i::after{
    content: "";

    width: 1rem;
    height: 1rem;

    background-color: rgba(49, 0, 62, .3);
    border-radius: 50%;

    padding: .6rem;
    position: absolute;
    transform: scale(0);
    transition: transform .2s;
}
/* img */
#chat_chat_infoRight_icons i img{
    width: 1rem;

    border-radius: 50%;

    position: relative;
    z-index: 9;
}
#chat_chat_infoRight_icons i:hover::after{
    transform: scale(1);
}

/* img */
#chat_chat_infoRight_bot{
    width: 2rem;
    height: 2rem;

    background-color: #fff;
    border-radius: 50%;

    padding: 1rem;
}
#chat_chat_infoRight_bot img{
    width: 100%;
}


/* Bottom */
#chat_chat_infoBottom{
    grid-area: infoBottom;

    color: #fff;
    background: -webkit-linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));
    background: linear-gradient(135deg, rgb(49, 0, 62) 0%, rgb(195, 40, 110));

    padding: 1rem 1.5rem;
}
/* p */
#chat_chat_infoBottom p{
    font-size: var(--font-size1);
    line-height: 1.25rem;
}



/* Form */
#chat_chat_form{
    grid-area: form;

    background-color: #fff;

    padding: 1.5rem 1rem;
}

/* textarea */
#chat_chat_form textarea{
    width: 100%;

    font-size: var(--font-size2);
}#chat_chat_form textarea::placeholder{
    font-weight: 400;
}



/* Final content */
#chat_chat_finalContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: finalContent;

    background-color: #fff;

    padding: 0 1rem;
    padding-bottom: 1rem;
}

/* Img */
#chat_chat_finalContent img{
    width: 4rem;
}





/* 991 */
@media screen and (max-width: 991px) {
    #chat{
        position: fixed;
    }



    /* Message */
    #chat_message{
        display: none;
    }



    /* Icon */
    /* Pencil */
    #chat_icon_pencil{
        display: none;
    }



    /* Chat | talk */
    #chat_chat{
        width: 100vw;
        height: 100vh;

        display: none;
        grid-template-areas: 
            "info"
            "info2"
            "form"
            "content"
        ;
        grid-template-rows: auto auto 5fr auto;
        
        border-radius: 0;
        opacity: 1;
        
        position: fixed;
        left: 0%;
        bottom: 0%;
        z-index: 9999;
    }


    /* Info */
    #chat_chat_info{
        display: flex;

        padding: 1rem 1rem;
    }

    /* Info left */
    #chat_chat_infoLeft{
        display: none;
    }

    /* Info right */
    #chat_chat_infoRight{
        width: 100%;

        grid-area: info;
        display: grid;
        grid-template-areas: 
            "left right"
        ;
        justify-content: space-between;
    }

    /* Icons */
    #chat_chat_infoRight_icons{
        grid-area: right;

        margin-bottom: 0;
    }
    #chat_chat_infoRight_icons i{
        margin: 0 .25rem;
    }

    /* Image || bot */
    #chat_chat_infoRight_bot{
        grid-area: left;
    }

    /* Info bottom */
    #chat_chat_infoBottom{
        grid-area: info2;
    }


    /* Form */
    #chat_chat_form{
        grid-area: form;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        padding: 1.5rem 0;
        position: relative;
    }
    /* textarea */
    #chat_chat_form textarea{
        width: 95%;

        font-size: var(--font-size2);
    }#chat_chat_form::after{
        content: "";

        width: 95%;
        height: 1px;

        background-color: var(--white);

        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }


    /* Final content */
    #chat_chat_finalContent{
        grid-area: content;

        padding: .5rem 1rem; 
    }
}