.line{
    height: calc(177.5vh + 20vw);

    border: calc(.1vh) dotted #fff;

    position: absolute;
    top: 30%;
    left: 14%;
    z-index: 9;
}

/* Ball */
.line_ball{
    width: calc(.8vh + .2vw);
    height: calc(.8vh + .2vw);
    
    display: inline-block;

    border: calc(.1vh + .1vw) solid #fff;
    border-radius: 50%;

    position: absolute;
    top: 5%;
    left: -22.75%;
    z-index: 9;
}

/* hr */
.line_hr{
    width: calc(5vh + 2vw);
    height: calc(.1vh + .1vw);
    
    background-color: var(--pink2);

    position: absolute;
    top: 10.4%;
    left: -18%;
}



/* Fixing some differences */
/* About */
#about_container .line_ball{
    top: 13.5%;
}
#about_container .line_hr{
    top: 14.46%;
}

/* Process */ 
#process_container_ol li:last-child .line_hr{
    top: 8.623%;
}   