.line{
    width: 1px;
    height: 87.5rem;

    background-color: #fff;

    position: absolute;
    top: 10rem;
    left: 14.9%;
    transform: translateX(-85.1%);
    z-index: 1;
}
.line2{
    width: 1px;
    height: 7rem;

    background-color: var(--pink);

    position: absolute;
    top: 10rem;
    left: 14.9%;
    transform: translateX(-85.1%);
    z-index: 9;
}



/* Ball */
.line_ball{
    width: .5rem;
    height: .5rem;
    
    display: inline-block;

    border: .01rem solid #fff;
    border-radius: 50%;

    position: absolute;
    top: 1rem;
    left: -11.75rem;
    z-index: 9;
}

/* hr */
.line_hr{
    width: 2.8rem;
    height: .12rem;
    
    background-color: var(--pink2);

    position: absolute;
    top: 1.25rem;
    left: -10.75rem;
}



/* Fixing some differences */
/* About */
#about_container .line_ball{
    top: 3.5rem;
    left: -8.05rem;
}
#about_container .line_hr{
    top: 3.75rem;
    left: -7.05rem;
}






/* Responsive */
/* 991 */
@media screen and (max-width: 991px) {
    /* Line */
    .line{
        height: 107rem;
    }

    /* Ball */
    .line_ball{
        left: -11.82rem;
    }

    /* hr */
    .line_hr{
        left: -10.82rem;
    }



    /* Fixing some differences */
    /* About */
    #about_container .line_ball{
        top: 3.5rem;
        left: -8.12rem;
    }
    #about_container .line_hr{
        top: 3.75rem;
        left: -7.12rem;
    }
}

/* 700 */
@media screen and (max-width: 700px) {
    /* Line, line2, ball and hr */
    .line,
    .line2,
    .line_ball,
    .line_hr{
        display: none;
    }
}
