#line{
    position: absolute;
    top: 28%;
    left: 15%;
    transform: translateX(-75%);
    z-index: 9;
}
#line_hr{
    width: 1px;
    height: 89.5rem;

    background-color: #fff;
}
#line_hr2{
    width: 1px;
    height: 7rem;

    background-color: var(--pink);

    position: absolute;
    top: 0;
}



/* Ball */
.line_ball{
    width: .5rem;
    height: .5rem;
    
    display: inline-block;

    border: .01rem solid #fff;
    border-radius: 50%;

    position: absolute;
    left: -.28rem;
    z-index: 9;
}

/* hr */
.line_hr{
    width: 2.8rem;
    height: .12rem;
    
    background-color: var(--pink2);

    position: absolute;
    left: 1rem;
}

.li-1{
    top: 76.6%;
}
.li-1hr{
    top: 76.9%;
}

.li-2{
    top: 87.6%;
}
.li-2hr{
    top: 87.9%;
}

.li-3{
    top: 100.6%;
}
.li-3hr{
    top: 100.9%;
}



/* Fixing some differences */
/* About */
#about_container .line_ball{
    top: 3.5rem;
    left: -8.05rem;
}
#about_container .line_hr{
    top: 3.75rem;
    left: -7.05rem;
}






/* Responsive */


/* 700 */
@media screen and (max-width: 700px) {
    /* Line, line2, ball and hr */
    .line,
    .line2,
    .line_ball,
    .line_hr{
        display: none;
    }
}
