#line{
    width: 80%;

    position: absolute;
    top: 28.5%;
    left: 14.8%;
    z-index: 9;
}
#line_hr{
    width: 1px;
    height: 89.5rem;

    background-color: #fff;
}
#line_hr2{
    width: 1px;
    height: 7rem;

    background-color: var(--pink);

    position: absolute;
    top: 0;
}



/* Ball */
.line_ball{
    width: .5rem;
    height: .5rem;
    
    display: inline-block;

    border: .01rem solid #fff;
    border-radius: 50%;

    position: absolute;
    left: -.28rem;
    z-index: 9;
}

/* hr */
.line_hr{
    width: 2.8rem;
    height: .12rem;
    
    background-color: var(--pink2);

    position: absolute;
    left: 1rem;
}

/* About */
.about-1{
    top: 34.6%;
}
.about-1hr{
    top: 34.9%;
}

/* Process */
.li-1{
    top: 76.6%;
}
.li-1hr{
    top: 76.9%;
}

.li-2{
    top: 87.6%;
}
.li-2hr{
    top: 87.9%;
}

.li-3{
    top: 100.6%;
}
.li-3hr{
    top: 100.9%;
}






/* Responsive */
/* 1024 */
@media (max-width: 1024px) {
    @media (min-height: 1360px) and (max-height: 1370px) {
        /* Line */
        #line{
            top: 36%;
        }

        /* hr */
        #line_hr{
            height: 97.5rem;
        }

        /* About */
        .about-1{
            top: 32.6%;
        }
        .about-1hr{
            top: 32.9%;
        }

        /* Process */
        .li-2{
            top: 88.6%;
        }
        .li-2hr{
            top: 88.9%;
        }
    }
}

/* 991 */
@media (max-width: 991px) {
    /* Line */
    #line{
        top: 38.5%;
    }
}

/* 800 */
@media (max-width: 800px) {
    /* Line */
    #line{
        display: none;
    }
}
