*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

.container{
    min-width: 240px;
    max-width: 1440px;

    margin: 0 auto;
}

a, p, h1, h2, h3, h4, h5, h6, input, span, textarea, button{
    /* text-transform: initial; */
    font-family: 'Montserrat', sans-serif;
}

.section_black{
    background-color: var(--black);
}
/* Text color */
.section_black,
.section_black a{
    color: #fff;
}
.section_white,
.section_white a{
    color: var(--black);
}

a{
    text-transform: capitalize;
    text-decoration: none;
}

hr, button, input, textarea{
    border: 0;
}

button{
    cursor: pointer;
    background-color: transparent;
}

input, textarea{
    outline: 0;
}