*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6{
    text-transform: initial;
}

/* Text color */
.section_black,
.section_black a{
    color: #fff;
}
.section_white,
.section_white a{
    color: var(--black);
}

a{
    text-transform: capitalize;
    text-decoration: none;
}

hr, button{
    border: 0;
}

button{
    cursor: pointer;
    background-color: transparent;
}