/* Top to bottom */
#header_top_logo,
.topToBottom,
.services_cards_card{
    opacity: 0;

    position: relative;
    bottom: calc(2vh + .8vw);
    transition: bottom .6s ease-out, opacity .6s ease-out;
}



/* Opacity */
.opacity a{
    opacity: 0;

    transition: opacity .4s ease-out;
}

/* Languages */
#header_top_languages a {
    transition: opacity .6s ease-out;
}