#footer{
    padding: var(--padding-vertical) calc(5vh + 3vw);
}





/* hr */
#footer hr{
    width: 100%;
    height: calc(.1vh + .1vw);

    background-color: var(--pink2);

    margin-bottom: var(--margin-bottom1);
}





/* Copyright */
#footer_copyright{
    text-align: center;
}

/* p */
#footer_copyright p{
    color: var(--white2);
    font-size: calc(1vh + .6vw);
    font-weight: 500;

    margin-bottom: calc(.5vh + .2vw);
}#footer_copyright p:last-child{
    margin-bottom: 0;
}

/* a */
#footer_copyright p a{
    color: var(--white2);
    text-decoration: underline;
}





@media screen and (max-width: 991px) {
    /* p */
    #footer_copyright p{
        font-size: 12px;
    }
}