#footer_socialNetworks{
   width: 32%;
   
   margin: 0 auto;
}

/* p */
#footer_socialNetworks p{
    text-align: center;

    font-size: calc(2.2vh + .5vw);
    font-weight: 300;

    margin-bottom: calc(1.5vh + .5vw);
}

/* Social networks images */
#footer_socialNetworks_images{
    display: flex;
    justify-content: space-between;
}
/* div */
#footer_socialNetworks_images a{
    width: calc(4vh + 1.5vw);

    border: calc(.1vh + .1vw) solid var(--pink2);
    border-radius: 50%;

    padding: calc(3vh + 1.5vw);
    transition: .25s border;
}#footer_socialNetworks_images a:hover{
    border-color: #fff;
}
/* img */
#footer_socialNetworks_images a img{
    width: 100%;
    display: block;

    margin: 0 auto;
}