#header{
    background: url("../../images/header/background.png") no-repeat;
    background-size: cover;

    position: relative;
}#header::after{
    content: "";

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    position: absolute;
    top: 0;
    left: 0;
}





/* Top */
#header_top{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to bottom, #000000, #00000000); 
    background: -o-linear-gradient(to bottom, #000000, #00000000);
    background: -moz-linear-gradient(to bottom, #000000,#00000000);
    background: -webkit-linear-gradient(to bottom, #000000, #00000000);
    box-sizing: border-box;

    padding: calc(1vh + 3vw)  var(--padding-horizontal);
    position: fixed;
    z-index: 9999;
}



/* Logo */
#header_top_logo img{
    width: calc(7vh + 15vw);
}



/* Left content */
#header_top_leftContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Menu */
#header_top_menu{
    position: relative;
}
/* A */
#header_top_menu a{
    font-size: var(--font-size1);

    margin-right: calc(.5vh + 1.4vw);
    position: relative;
}#header_top_menu a:last-child{
    margin-right: 0;
}


/* Languages */
#header_top_languages{
    margin-bottom: calc(.5vh + 1vw);
}

/* A */
#header_top_languages a{
    font-size: var(--font-size1);

    margin-right: calc(.1vh + .5vw);
    position: relative;
}#header_top_languages a:last-child{
    margin-right: 0;
}

/* Menu and languages */
/* a */

#header_top_menu a::after,
#header_top_languages a::after{
    content: "";

    width: 100%;
    height: calc(.1vh + .1vw);

    display: block;

    background-color: var(--pink);

    position: absolute;
    left: 0;
    bottom: calc(-.2vh - .1vw);
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform .25s;
}#header_top_menu a:hover::after,
#header_top_languages a:hover::after{
    transform: scaleZ(1);
}





/* Bottom */
#header_bottom{
    padding-top: calc(4vh + 9vw);
    padding-bottom: calc(.3vh + .8vw);
    padding-left: 14%;
    position: relative;
    z-index: 9;
}


/* Welcome paragraph */
#header_bottom_welcomeParagraph{
    font-size: var(--font-size1);
}


/* Text */
#header_bottom_text{
    padding-left: calc(.5vh + 1.5vw);
}

/* h1 and p */
#header_bottom_text h1,
#header_bottom_text p{
    width: 45%;
}

/* h1 */
#header_bottom_text h1{
    font-size: calc(1.5vh + 3.5vw);
    font-weight: 300;

    margin-bottom: calc(.3vh + .7vw);
}

/* p */
#header_bottom_text p{
    font-size: var(--font-size2);
    font-weight: 300;
    line-height: var(--line-height2);
}


/* Button */
#header_bottom_text button{
    display: flex;
    align-items: flex-start;

    color: #fff;
    font-size: var(--font-size1);
    font-weight: 300;

    margin-top: calc(2.5vh + 5vw);
    margin-left: calc(2.5vh + 6vw);
    transition: margin-left .25s;
}#header_bottom_text button:hover{
    margin-left: calc(2.6vh + 6.4vw);
}
/* i */
#header_bottom_text button img{
    width: calc(.6vh + 1.3vw);

    margin-right: calc(.2vh + .3vw);
}






/* Responsive */