#about{
    padding: var(--padding1) 0;
    position: relative;
}





/* Container */
#about_container{
    width: 50%;

    background-color: #fff;
    border-radius: var(--border-radius1);
    box-sizing: border-box;
    
    margin: 0 auto;
    padding: var(--padding1) var(--padding1);
    position: relative;
}

/* h1 */
#about_container h1{
    color: var(--black);
    font-size: var(--font-size5);
    font-weight: 500;
    text-transform: capitalize;

    margin-bottom: var(--margin2);
}

#about_container_paragraphs p{
    color: var(--gray);
    font-size: var(--font-size2);
    font-weight: 300;

    line-height: var(--line-height1);
    margin-bottom: var(--margin1);
}





/* Responsive */
/* 991 */
@media screen and (max-width: 991px) {
    /* Container */
    #about_container{
        width: 45%;
    }
}

/* 700 */
@media screen and (max-width: 700px) {
    /* Container */
    #about_container{
        width: 100%;

        border-radius: 0;
    }
}