#contact{
    padding: var(--padding-vertical2) var(--padding-horizontal);
}





/* Social networks */
#contact_socialNetworks{
    margin-bottom: calc(8vh + 3.5vw);
}
 
/* p */
#contact_socialNetworks p{
    text-align: center;

    font-size: var(--font-size2);
    font-weight: 300;

    margin-bottom: calc(1.5vh + .5vw);
}
 
/* Social networks images */
#contact_socialNetworks_images{
    display: flex;
    justify-content: center;
}
/* div */
#contact_socialNetworks_images a{
    width: calc(3.8vh + 1.8vw);

    border: calc(.1vh + .1vw) solid var(--pink2);
    border-radius: 50%;

    margin: 0 calc(1vh + .5vw);
    padding: calc(3vh + 1.5vw);
    transition: .25s border;
}#contact_socialNetworks_images a:hover{
    border-color: #fff;
}
/* img */
#contact_socialNetworks_images a img{
    width: 100%;
    display: block;
}
 
 
 
 
 
 /* Contact */
#contact_contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* padding: 0 calc(1.5vh + .5vw); */
}
 
/* p */
#contact_contact p{
    font-size: calc(3.2vh + 1.2vw);
}
#contact_contact p span{
    text-decoration: underline;
}
 
/* button */
#contact_contact button{
    color: #fff;
    font-size: var(--font-size1);
    font-weight: 300;
    background-color: var(--pink2);
    border-radius: calc(5vh + 2vw);
    

    padding: calc(1.5vh + .5vw) calc(3.8vh + 1.25vw);
    position: relative;
    top: 0;
    transition: top .25s, box-shadow .25s, background-color .25s;
}#contact_contact button:hover {
    background-color: var(--pink3);
    box-shadow: 0 calc(.8vh + .4vw) calc(1.2vh + .5vw) 0 var(--pink2_rgba);

    top: calc(-.5vh - .2vw);
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px) {
    /* Social network images */
    /* div */
    #contact_socialNetworks_images a{
        margin: 0 10px;
        padding: 45px;
    }
}