#contact{
    padding-bottom: 12vh;
}





/* Address */
#contact_address{
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../images/sections/services/banner.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 12vh;
    position: relative;
}#contact_address::after{
    content: "";

    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

    position: absolute;
    top: 0;
    left: 0;
}
/* p */
#contact_address p{
    color: #fff;
    font-size: 3vh;


    position: relative;
    z-index: 9;
}
#contact_address p span{
    font-weight: bold;
}





/* Social networks */
#contact_socialNetworks{
    margin-bottom: 12vh;
}
 
/* p */
#contact_socialNetworks p{
    text-align: center;

    font-size: 4vh;
    font-weight: 300;

    margin-bottom: 4vh;
}
 
/* Social networks images */
#contact_socialNetworks_images{
    display: flex;
    justify-content: center;
}
/* div */
#contact_socialNetworks_images a{
    width: 6.5vh;

    border: calc(.1vh + .1vw) solid var(--pink2);
    border-radius: 50%;

    margin: 0 2vh;
    padding: 6.5vh;
    transition: .25s border;
}#contact_socialNetworks_images a:hover{
    border-color: #fff;
}
/* img */
#contact_socialNetworks_images a img{
    width: 100%;
    display: block;
}
 
 
 
 
 
 /* Contact */
#contact_contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 15vh;
}
 
/* p */
#contact_contact p{
    flex: 1;

    font-size: 6vh;

    padding-right: 2vh;
}
#contact_contact p span{
    text-decoration: underline;
}
 
/* button */
#contact_contact button{
    color: #fff;
    font-size: 3vh;
    font-weight: 300;
    background-color: var(--pink2);
    border-radius: 10vh;
    

    padding: 2.5vh 6vh;
    position: relative;
    top: 0;
    transition: top .25s, box-shadow .25s, background-color .25s;
}#contact_contact button:hover {
    background-color: var(--pink3);
    box-shadow: 0 calc(.8vh + .4vw) calc(1.2vh + .5vw) 0 var(--pink2_rgba);

    top: calc(-.5vh - .2vw);
}





/* Responsive */
/* 1024 */
@media screen and (min-width: 1024px){
    /* Height */
    /* 600 */
    @media screen and (min-height: 600) {
        /* div */
    #contact_socialNetworks_images a{
        width: 1vh;

        border: calc(.1vh + .1vw) solid var(--pink2);
        border-radius: 50%;

        margin: 0 2vh;
        padding: 6.5vh;
        transition: .25s border;
    }
    }
}