#contact{
    padding-bottom: 0;
}





/* Address */
#contact_address{
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../images/sections/services/banner.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}#contact_address::after{
    content: "";

    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

    position: absolute;
    top: 0;
    left: 0;
}
/* p */
#contact_address p{
    max-width: 1440px;

    color: #fff;
    font-size: var(--font-size3);
    font-weight: 300;


    position: relative;
    z-index: 9;
}
#contact_address p span{
    font-size: var(--font-size3);
    font-weight: bold;
}





/* Social networks */
#contact_socialNetworks{
    padding: var(--padding2) 0;
}
 
/* p */
#contact_socialNetworks p{
    text-align: center;

    font-size: 1.3rem;
    font-weight: 300;

    margin-bottom: var(--margin1);
}
 
/* Social networks images */
#contact_socialNetworks_images{
    display: flex;
    justify-content: center;
}
/* div */
#contact_socialNetworks_images a{
    width: 2.2rem;

    border: 1px solid var(--pink);
    border-radius: 50%;

    margin: 0 .5rem;
    padding: 2.5rem;
    transition: .25s border;
}#contact_socialNetworks_images a:hover{
    border-color: #fff;
}
/* img */
#contact_socialNetworks_images a img{
    width: 100%;

    display: block;
}
 
 
 
 
 
/* Contact */
#contact_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--padding3);
    padding-bottom: 5rem;
}
 
/* p */
#contact_contact p{
    max-width: 70%;

    font-size: var(--font-size5);
}
#contact_contact p span{
    font-size: var(--font-size5);
    text-decoration: underline;
}
 
/* button */
#contact_contact button{
    color: #fff;
    font-size: var(--font-size2);
    font-weight: 300;
    background-color: var(--pink2);
    border-radius: var(--border-radius2);
    

    padding: .8rem 2rem;
    position: relative;
    top: 0;
    transition: top .25s, box-shadow .25s, background-color .25s;
}#contact_contact button:hover {
    background-color: var(--pink3);
    box-shadow: 0 calc(.8vh + .4vw) calc(1.2vh + .5vw) 0 var(--pink2_rgba);

    top: -.4rem;
}





/* Responsive */
/* 991 */
@media screen and (max-width: 991px) {
    /* Address */
    /* p */
    #contact_address p,
    #contact_address p span{
        font-size: var(--font-size2);
    }



    /* Contact */
    /* Contact */
    #contact_contact{
        padding: 0 9.5rem;
        padding-bottom: 5rem;
    }

    /* p */
    #contact_contact p{
        max-width: 52%;
        
        font-size: var(--font-size6);
        line-height: 3rem;
    }
    #contact_contact p span{
        font-size: var(--font-size6);
    }
    /* button */
    #contact_contact button{
        padding: 1rem 1.5rem;
    }
}