#process{
    padding-top: var(--padding1);
}





/* Container */
#process_container{
    width: 50%;

    box-sizing: border-box;

    margin: 0 auto;
    margin-bottom: var(--margin6);
    padding: 0 2.5rem;
    position: relative;
}


/* h1 */
#process_container h1{
    font-size: var(--font-size5);
    font-weight: 500;

    margin-bottom: var(--margin5);
}


/* ol */
#process_container_ol{
    color: #fff;
    list-style-type: decimal;

    position: relative;
    left: 1.2rem;
}
/* li */
#process_container ol li{
    margin-bottom: var(--margin5);
}
/* h3 */
#process_container_ol li h3{
    font-size: var(--font-size3);
    font-weight: 300;

    margin-bottom: .5rem;
}
/* p */
#process_container_ol li p{
    color: var(--white);
    font-size: var(--font-size2);
    font-weight: 400;
    line-height: var(--line-height1);

    position: relative;
    left: -1rem;
}





/* Image */
#process_representationImage{
    width: 70%;

    display: block;

    margin: 0 auto;
}





/* Responsive */
/* 991 */
@media (max-width: 991px) {
    /* Container */
    #process_container{
        width: 45%;

        margin: 0 auto;
        margin-bottom: var(--margin6);
        position: relative;
    }

    /* Image */
    #process_representationImage{
        width: 100%;
    }
}

/* 800 */
@media (max-width: 800px) {
    /* Container */
    #process_container{
        width: 100%;

        padding: 0 6rem;
    }
}

/* 360 */
@media (max-width: 360px) {
    /* Container */
    #process_container{
        width: 100%;

        padding: 0 1.5rem;
    }
}