#process{
    padding-top: var(--padding-vertical);
}





/* Container */
#process_container{
    width: 50%;

    margin: 0 auto;
    position: relative;
}


/* h1 */
#process_container h1{
    font-size: var(--font-size4);
    font-weight: 500;

    margin-bottom: var(--margin-bottom3);
}


/* ol */
#process_container_ol{
    color: #fff;
    list-style-type: decimal;

    position: relative;
    left: 3%;
}
/* li */
#process_container ol li{
    margin-bottom: var(--margin-bottom3);
}
/* h3 */
#process_container_ol li h3{
    font-size: var(--font-size2);
    font-weight: 300;

    margin-bottom: calc(.5vh + .2vw);
}
/* p */
#process_container_ol li p{
    color: var(--white);
    font-size: var(--font-size1);
    font-weight: 400;
    line-height: var(--line-height);

    position: relative;
    left: -3%;
}





/* Image */
#process_representationImage{
    width: 70%;

    display: block;

    margin: 0 auto;
}





/* Responsive */
/* 991 */
@media screen and (max-width: 991px) {
    /* Image */
    #process_representationImage{
        width: 100%;
    }
}