#services{
    width: 85%;

    box-sizing: border-box;

    margin: 0 auto;
}
#services_content{
    padding: var(--padding1) 0;
}





/* h1 */
#services h1{
    font-size: var(--font-size5);
    font-weight: 500;

    margin-bottom: var(--margin2);
}


/* p */
#services p{
    font-weight: 300;

    margin-bottom: var(--margin4);
}





/* Cards */
#services  #services_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* card */
#services  .services_cards_card{
    width: 28%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    box-shadow: 0 16px 18px 4px rgba(0, 0, 0, .080);
    border-radius: var(--border-radius1);
    box-sizing: border-box;
    
    margin: 0 var(--margin1);
    margin-bottom: var(--margin4);
    padding: 3rem 1rem;
}
/* img */
#services .services_cards_card img{
    width: 35%;

    margin-bottom: .2rem;
}
/* h3 */
#services  .services_cards_card h3{
    font-size: var(--font-size4);
    font-weight: 500;

    margin-bottom: var(--margin1);
}
/* p */
#services .services_cards_card p {
    margin-bottom: 0;
}






/* Partner */
#services #services_partner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: var(--margin2);
}


/* p */
#services #services_partner p{
    max-width: 70%;

    box-sizing: border-box;

    margin-bottom: 0;
}


/* button */
#services #services_partner button{
    color: var(--pink);
    font-size: var(--font-size2);
    font-weight: 300;
    border: .1rem solid var(--pink);
    border-radius: var(--border-radius2);

    padding: .8rem 2rem;
    transition: background-color .25s;
}#services #services_partner button:hover{
    color: #fff;
    background-color: var(--pink2);
}





/* Responsive */
/* 991 */
@media screen and (max-width: 991px) {
    #services{
        width: 75%;
    }



    /* Cards */
    /* card */
    #services  .services_cards_card{
        width: 45%;
    }



    /* Partner */
    /* p */
    #services #services_partner p{
        max-width: 60%;
    }

    /* button */
    #services #services_partner button{
        max-width: 22%;

        padding: 1rem 1.5rem;
    }
}